- @title = "HTML5 Elements"
- @headertext = "Based on examples from <a href='http://developers.whatwg.org/'>developers.whatwg.org</a>" 

%section#sections.element-group
  %h1.section-title
    %a{:href => "http://developers.whatwg.org/sections.html"} Sections
  = render :template => "/survivalkit/partials/html5/section.haml"
  = render :template => "/survivalkit/partials/html5/nav.haml"
  = render :template => "/survivalkit/partials/html5/article.haml"
  = render :template => "/survivalkit/partials/html5/aside.haml"
  = render :template => "/survivalkit/partials/html5/all-headings.haml"
  = render :template => "/survivalkit/partials/html5/hgroup.haml"
  = render :template => "/survivalkit/partials/html5/header.haml"
  = render :template => "/survivalkit/partials/html5/footer.haml"
  = render :template => "/survivalkit/partials/html5/address.haml"
%section#grouping.element-group
  %h1.section-title
    %a{:href => "http://developers.whatwg.org/grouping-content.html"} Grouping
  = render :template => "/survivalkit/partials/html5/p.haml"
  = render :template => "/survivalkit/partials/html5/hr.haml"
  = render :template => "/survivalkit/partials/html5/pre.haml"
  = render :template => "/survivalkit/partials/html5/blockquote.haml"
  = render :template => "/survivalkit/partials/html5/ol.haml"
  = render :template => "/survivalkit/partials/html5/ul.haml"
  = render :template => "/survivalkit/partials/html5/li.haml"
  = render :template => "/survivalkit/partials/html5/dl.haml"
  = render :template => "/survivalkit/partials/html5/figure.haml"
%section#text.element-group
  %h1.section-title Text-level semantics
  = render :template => "/survivalkit/partials/html5/a.haml"
  = render :template => "/survivalkit/partials/html5/em.haml"
  = render :template => "/survivalkit/partials/html5/strong.haml"
  = render :template => "/survivalkit/partials/html5/small.haml"
  = render :template => "/survivalkit/partials/html5/s.haml"
  = render :template => "/survivalkit/partials/html5/cite.haml"
  = render :template => "/survivalkit/partials/html5/q.haml"
  = render :template => "/survivalkit/partials/html5/dfn.haml"
  = render :template => "/survivalkit/partials/html5/abbr.haml"
  = render :template => "/survivalkit/partials/html5/time.haml"
  = render :template => "/survivalkit/partials/html5/code.haml"
  = render :template => "/survivalkit/partials/html5/samp.haml"
  = render :template => "/survivalkit/partials/html5/kbd.haml"
  = render :template => "/survivalkit/partials/html5/sub-sup.haml"
  = render :template => "/survivalkit/partials/html5/i.haml"
  = render :template => "/survivalkit/partials/html5/b.haml"
  = render :template => "/survivalkit/partials/html5/mark.haml"
  = render :template => "/survivalkit/partials/html5/ruby.haml"
  = render :template => "/survivalkit/partials/html5/bdi.haml"
  = render :template => "/survivalkit/partials/html5/text-summary.haml"
  
%section#tabular.element-group
  %h1.section-title
    %a{:href => "http://developers.whatwg.org/tabular-data.html"} Tabular Data
  = render :template => "/survivalkit/partials/html5/table.haml"
  = render :template => "/survivalkit/partials/html5/thead.haml"
  = render :template => "/survivalkit/partials/html5/sample-tables.haml"
  
%section#forms.element-group
  %h1.section-title
    %a{:href => "http://developers.whatwg.org/forms.html"} Forms
  = render :template => "/survivalkit/partials/html5/sample-forms.haml"
  = render :template => "/survivalkit/partials/html5/fieldset.haml"
  = render :template => "/survivalkit/partials/html5/label.haml"

%section#interactive.element-group
  %h1.section-title
    %a{:href => "http://developers.whatwg.org/interactive-elements.html"} Interactive
  = render :template => "/survivalkit/partials/html5/details.haml"
  = render :template => "/survivalkit/partials/html5/menu.haml"
  
  