- @title = "HTML5 Elements"
- @headertext = "Based on examples from <a href='http://developers.whatwg.org/'>developers.whatwg.org</a>"
- @subnav = "<nav class='section-nav'></nav> "

%section#sections.element-group
  %h1.section-title
    %a{:href => "http://developers.whatwg.org/sections.html"} Sections
  = render :template => "/survivalkit/partials/html5/_section.haml"
  = render :template => "/survivalkit/partials/html5/_nav.haml"
  = render :template => "/survivalkit/partials/html5/_article.haml"
  = render :template => "/survivalkit/partials/html5/_aside.haml"
  = render :template => "/survivalkit/partials/html5/_all-headings.haml"
  = render :template => "/survivalkit/partials/html5/_hgroup.haml"
  = render :template => "/survivalkit/partials/html5/_header.haml"
  = render :template => "/survivalkit/partials/html5/_footer.haml"
  = render :template => "/survivalkit/partials/html5/_address.haml"
%section#grouping.element-group
  %h1.section-title
    %a{:href => "http://developers.whatwg.org/grouping-content.html"} Grouping
  = render :template => "/survivalkit/partials/html5/_p.haml"
  = render :template => "/survivalkit/partials/html5/_hr.haml"
  = render :template => "/survivalkit/partials/html5/_pre.haml"
  = render :template => "/survivalkit/partials/html5/_blockquote.haml"
  = render :template => "/survivalkit/partials/html5/_ol.haml"
  = render :template => "/survivalkit/partials/html5/_ul.haml"
  = render :template => "/survivalkit/partials/html5/_li.haml"
  = render :template => "/survivalkit/partials/html5/_dl.haml"
  = render :template => "/survivalkit/partials/html5/_figure.haml"
%section#text.element-group
  %h1.section-title Text-level semantics
  = render :template => "/survivalkit/partials/html5/_a.haml"
  = render :template => "/survivalkit/partials/html5/_em.haml"
  = render :template => "/survivalkit/partials/html5/_strong.haml"
  = render :template => "/survivalkit/partials/html5/_small.haml"
  = render :template => "/survivalkit/partials/html5/_s.haml"
  = render :template => "/survivalkit/partials/html5/_cite.haml"
  = render :template => "/survivalkit/partials/html5/_q.haml"
  = render :template => "/survivalkit/partials/html5/_dfn.haml"
  = render :template => "/survivalkit/partials/html5/_abbr.haml"
  = render :template => "/survivalkit/partials/html5/_time.haml"
  = render :template => "/survivalkit/partials/html5/_code.haml"
  = render :template => "/survivalkit/partials/html5/_samp.haml"
  = render :template => "/survivalkit/partials/html5/_kbd.haml"
  = render :template => "/survivalkit/partials/html5/_sub-sup.haml"
  = render :template => "/survivalkit/partials/html5/_i.haml"
  = render :template => "/survivalkit/partials/html5/_b.haml"
  = render :template => "/survivalkit/partials/html5/_mark.haml"
  = render :template => "/survivalkit/partials/html5/_ruby.haml"
  = render :template => "/survivalkit/partials/html5/_bdi.haml"
  = render :template => "/survivalkit/partials/html5/_text-summary.haml"
  
%section#tabular.element-group
  %h1.section-title
    %a{:href => "http://developers.whatwg.org/tabular-data.html"} Tabular Data
  = render :template => "/survivalkit/partials/html5/_table.haml"
  = render :template => "/survivalkit/partials/html5/_thead.haml"
  = render :template => "/survivalkit/partials/html5/_sample-tables.haml"
  
%section#forms.element-group
  %h1.section-title
    %a{:href => "http://developers.whatwg.org/forms.html"} Forms
  = render :template => "/survivalkit/partials/html5/_sample-forms.haml"
  = render :template => "/survivalkit/partials/html5/_fieldset.haml"
  = render :template => "/survivalkit/partials/html5/_label.haml"

%section#interactive.element-group
  %h1.section-title
    %a{:href => "http://developers.whatwg.org/interactive-elements.html"} Interactive
  = render :template => "/survivalkit/partials/html5/_details.haml"
  = render :template => "/survivalkit/partials/html5/_menu.haml"
  
  