- @title = "Drupal 7 UI Patterns"
- @headertext = "Based on the default markup AND CSS from Drupal 7 <a href='elements-ui-patterns-drupal.html'>Don't show default Drupal 7 CSS</a>"
- @subnav = "<nav class='section-nav'></nav> "
- @extracss = "survivalkit/drupal7.css"

%section#drupal-patterns.element-group
  %h1.section-title Drupal Patterns
  = render :template => "/survivalkit/partials/patterns-drupal/_site-name.haml"
  = render :template => "/survivalkit/partials/patterns-drupal/_search.haml"
  = render :template => "/survivalkit/partials/patterns-drupal/_messages.haml"
  = render :template => "/survivalkit/partials/patterns-drupal/_block.haml"
  = render :template => "/survivalkit/partials/patterns-drupal/_tables.haml"
  = render :template => "/survivalkit/partials/patterns-drupal/_rss-link.haml"
  = render :template => "/survivalkit/partials/patterns-drupal/_links.haml"
  = render :template => "/survivalkit/partials/patterns-drupal/_taxonomy.haml"
  = render :template => "/survivalkit/partials/patterns-drupal/_field-image.haml"
  = render :template => "/survivalkit/partials/patterns-drupal/_node.haml"
  = render :template => "/survivalkit/partials/patterns-drupal/_comments.haml"
  = render :template => "/survivalkit/partials/patterns-drupal/_form-comment.haml"
%section#drupal-navigation.element-group
  %h1.section-title Drupal Navigation
  = render :template => "/survivalkit/partials/patterns-drupal/_menu.haml"
  = render :template => "/survivalkit/partials/patterns-drupal/_menu-tree.haml"
  = render :template => "/survivalkit/partials/patterns-drupal/_tabs.haml"
  = render :template => "/survivalkit/partials/patterns-drupal/_breadcrumbs.haml"
  = render :template => "/survivalkit/partials/patterns-drupal/_pager.haml"
%section#drupal-forms.element-group
  %h1.section-title Drupal Forms
  = render :template => "/survivalkit/partials/patterns-drupal/_form-basic.haml"
  = render :template => "/survivalkit/partials/patterns-drupal/_form-submit.haml"
  = render :template => "/survivalkit/partials/patterns-drupal/_form-button.haml"
  = render :template => "/survivalkit/partials/patterns-drupal/_form-image-button.haml"
  = render :template => "/survivalkit/partials/patterns-drupal/_form-markup.haml"
  = render :template => "/survivalkit/partials/patterns-drupal/_form-fieldsets.haml"
  = render :template => "/survivalkit/partials/patterns-drupal/_form-vertical-tabs.haml"
  = render :template => "/survivalkit/partials/patterns-drupal/_form-new-account.haml"
  = render :template => "/survivalkit/partials/patterns-drupal/_form-login.haml"
  = render :template => "/survivalkit/partials/patterns-drupal/_form-new-password.haml"
