%div#text-summary-el.element
  %h2.element-title Usage summary
  .markup
    %table
      %thead
        %tr
          %th
            Element
          %th
            Purpose
          %th
            Example
      %tbody
        %tr
          %td
            %code
              %a{:href => "http://developers.whatwg.org/text-level-semantics.html#the-a-element"} a
          %td
            Hyperlinks
          %td
            %pre.example
              Visit my
              %strong <a href="drinks.html">drinks</a>
              page.
        %tr
          %td
            %code
              %a{:href => "http://developers.whatwg.org/text-level-semantics.html#the-em-element"} em
          %td
            Stress emphasis
          %td
            %pre.example
              I must say I
              %strong <em>adore</em>
              lemonade.
        %tr
          %td
            %code
              %a{:href => "http://developers.whatwg.org/text-level-semantics.html#the-strong-element"} strong
          %td
            Importance
          %td
            %pre.example
              This tea is
              = succeed "." do
                %strong <strong>very hot</strong>
        %tr
          %td
            %code
              %a{:href => "http://developers.whatwg.org/text-level-semantics.html#the-small-element"} small
          %td
            Side comments
          %td
            %pre.example
              These grapes are made into wine.
              %strong <small>Alcohol is addictive.</small>
        %tr
          %td
            %code
              %a{:href => "http://developers.whatwg.org/text-level-semantics.html#the-s-element"} s
          %td
            Inaccurate text
          %td
            %pre.example
              Price:
              %strong <s>£4.50</s>
              £2.00!
        %tr
          %td
            %code
              %a{:href => "http://developers.whatwg.org/text-level-semantics.html#the-cite-element"} cite
          %td
            Titles of works
          %td
            %pre.example
              The case
              %strong <cite>Hugo v. Danielle</cite>
              is relevant here.
        %tr
          %td
            %code
              %a{:href => "http://developers.whatwg.org/text-level-semantics.html#the-q-element"} q
          %td
            Quotations
          %td
            %pre.example
              The judge said
              %strong <q>You can drink water from the fish tank</q>
              but advised against it.
        %tr
          %td
            %code
              %a{:href => "http://developers.whatwg.org/text-level-semantics.html#the-dfn-element"} dfn
          %td
            Defining instance
          %td
            %pre.example
              The term
              %strong <dfn>organic food</dfn>
              refers to food produced without synthetic chemicals.
        %tr
          %td
            %code
              %a{:href => "http://developers.whatwg.org/text-level-semantics.html#the-abbr-element"} abbr
          %td
            Abbreviations
          %td
            %pre.example
              Organic food in Ireland is certified by the
              = succeed "." do
                %strong <abbr title="Irish Organic Farmers and Growers Association">IOFGA</abbr>
        %tr
          %td
            %code
              %a{:href => "http://developers.whatwg.org/text-level-semantics.html#the-time-element"} time
          %td
            Date and/or time
          %td
            %pre.example
              Published
              = succeed "." do
                %strong <time>2009-10-21</time>
        %tr
          %td
            %code
              %a{:href => "http://developers.whatwg.org/text-level-semantics.html#the-code-element"} code
          %td
            Computer code
          %td
            %pre.example
              The
              %strong <code>fruitdb</code>
              program can be used for tracking fruit production.
        %tr
          %td
            %code
              %a{:href => "http://developers.whatwg.org/text-level-semantics.html#the-var-element"} var
          %td
            Variables
          %td
            %pre.example
              If there are
              %strong <var>n</var>
              fruit in the bowl, at least
              = succeed "\u{f7}2" do
                %strong <var>n</var>
              will be ripe.
        %tr
          %td
            %code
              %a{:href => "http://developers.whatwg.org/text-level-semantics.html#the-samp-element"} samp
          %td
            Computer output
          %td
            %pre.example
              The computer said
              = succeed "." do
                %strong <samp>Unknown error -3</samp>
        %tr
          %td
            %code
              %a{:href => "http://developers.whatwg.org/text-level-semantics.html#the-kbd-element"} kbd
          %td
            User input
          %td
            %pre.example
              Hit
              %strong <kbd>F1</kbd>
              to continue.
        %tr
          %td
            %code
              %a{:href => "http://developers.whatwg.org/text-level-semantics.html#the-sub-and-sup-elements"} sub
          %td
            Subscripts
          %td
            %pre.example
              Water is H
              %strong> <sub>2</sub>
              O.
        %tr
          %td
            %code
              %a{:href => "http://developers.whatwg.org/text-level-semantics.html#the-sub-and-sup-elements"} sup
          %td
            Superscripts
          %td
            %pre.example
              The Hydrogen in heavy water is usually
              = succeed "H." do
                %strong <sup>2</sup>
        %tr
          %td
            %code
              %a{:href => "http://developers.whatwg.org/text-level-semantics.html#the-i-element"} i
          %td
            Alternative voice
          %td
            %pre.example
              Lemonade consists primarily of
              = succeed "." do
                %strong <i>Citrus limon</i>
        %tr
          %td
            %code
              %a{:href => "http://developers.whatwg.org/text-level-semantics.html#the-b-element"} b
          %td
            Keywords
          %td
            %pre.example
              Take a
              %strong <b>lemon</b>
              and squeeze it with a
              = succeed "." do
                %strong <b>juicer</b>
        %tr
          %td
            %code
              %a{:href => "http://developers.whatwg.org/text-level-semantics.html#the-mark-element"} mark
          %td
            Highlight
          %td
            %pre.example
              Elderflower cordial, with one
              %strong <mark>part</mark>
              cordial to ten
              = succeed "s" do
                %strong <mark>part</mark>
              water, stands a
              %strong <mark>part</mark>
              from the rest.
        %tr
          %td
            %code>
              %a{:href => "http://developers.whatwg.org/text-level-semantics.html#the-ruby-element"} ruby
            ,
            = succeed "," do
              %code
                %a{:href => "http://developers.whatwg.org/text-level-semantics.html#the-rt-element"} rt
            %code
              %a{:href => "http://developers.whatwg.org/text-level-semantics.html#the-rp-element"} rp
          %td
            Ruby annotations
          %td
            %pre.example
              %strong <ruby> OJ <rp>(<rt>Orange Juice<rp>)</ruby>
        %tr
          %td
            %code
              %a{:href => "http://developers.whatwg.org/text-level-semantics.html#the-bdi-element"} bdi
          %td
            Text directionality isolation
          %td
            %pre.example
              The recommended restaurant is
              = succeed "." do
                %strong <bdi lang="">My Juice Café (At The Beach)</bdi>
        %tr
          %td
            %code
              %a{:href => "http://developers.whatwg.org/text-level-semantics.html#the-bdo-element"} bdo
          %td
            Text directionality formatting
          %td
            %pre.example
              The proposal is to write English, but in reverse order. "Juice" would become "
              %strong> <bdo dir=rtl>Juice</bdo>
              "
        %tr
          %td
            %code
              %a{:href => "http://developers.whatwg.org/text-level-semantics.html#the-span-element"} span
          %td
            Other
          %td
            %pre.example
              In French we call it
              = succeed "." do
                %strong <span lang="fr">sirop de sureau</span>
        %tr
          %td
            %code
              %a{:href => "http://developers.whatwg.org/text-level-semantics.html#the-br-element"} br
          %td
            Line break
          %td
            %pre.example
              Simply Orange Juice Company
              %strong> <br>
              Apopka, FL 32703
              %strong> <br>
              U.S.A.
        %tr
          %td
            %code
              %a{:href => "http://developers.whatwg.org/text-level-semantics.html#the-wbr-element"} wbr
          %td
            Line breaking opportunity
          %td
            %pre.example
              www.simply
              %strong> <wbr>
              orange
              %strong> <wbr>
              juice.com
