!!! 5
-# paulirish.com/2008/conditional-stylesheets-vs-css-hacks-answer-neither/
<!--[if lt IE 7]> <html lang="en" class="no-js ie6"> <![endif]-->
<!--[if IE 7]>    <html lang="en" class="no-js ie7"> <![endif]-->
<!--[if IE 8]>    <html lang="en" class="no-js ie8"> <![endif]-->
<!--[if gt IE 8]><!-->
%html.no-js{ :lang => "en" }
  <!--<![endif]-->
  %head
    -# To render a different stylesheet partial inside the head (i.e. for admin layout)
    -# just copy _stylesheets.html.haml, and point to that partial instead.
    / = render "layouts/head", :stylesheet_partial => "layouts/stylesheets"
    = render "head", :stylesheet_partial => "layouts/stylesheets"

  %body{ :class => "#{controller.controller_name}" }
    #container
      %header#header
        = render "layouts/header"

      #main{ :role => 'main' }
        = render "layouts/flashes"
        = yield

      %footer#footer
        = render "layouts/footer"

    -# Javascript at the bottom for fast page loading
    = render "layouts/javascripts"
