%article#nav.element
  %h2.element-title
    Nav
  %p
    The
    %code
      %a{:href => "http://developers.whatwg.org/sections.html#the-nav-element"} nav
    element
    %a{:href => "http://developers.whatwg.org/sections.html#represents"} represents
    a section of a page that links to other pages or to parts within the page: a section with navigation links.
  %p
    Not all groups of links on a page need to be in a
    %code
      %a{:href => "http://developers.whatwg.org/sections.html#the-nav-element"} nav
    element — only sections that consist of major navigation blocks are appropriate for the
    %code
      %a{:href => "http://developers.whatwg.org/sections.html#the-nav-element"} nav
    element. In particular, it is common for footers to have a short list of links to various pages of a site, such as the terms of service, the home page, and a copyright page. The
    %code
      %a{:href => "http://developers.whatwg.org/sections.html#the-footer-element"} footer
    element alone is sufficient for such cases, without a
    %code
      %a{:href => "http://developers.whatwg.org/sections.html#the-nav-element"} nav
    element.
  .markup
    %nav
      %h1 Navigation
      %ul
        %li
          %a{:href => ""} Index of all articles
        %li
          %a{:href => ""} Things sheeple need to wake up for today
        %li
          %a{:href => ""} Sheeple we have managed to wake
  %p A nav element doesn't have to contain a list, it can contain other kinds of content as well. In this navigation block, links are provided in prose:
  .markup
    %nav
      %h1 Navigation
      %p
        You are on my home page. To the north lies
        = succeed "," do
          %a{:href => "/blog"}
            my
            blog
        from whence the sounds of battle can be heard. To the east
        you can see a large mountain, upon which many
        %a{:href => "/school"} school papers
        are littered. Far up thus mountain
        you can spy a little figure who appears to be me, desperately
        scribbling a
        = succeed "." do
          %a{:href => "/school/thesis"} thesis
      %p
        To the west are several exits. One fun-looking exit is labeled
        = succeed "." do
          %a{:href => "http://games.example.com/"} "games"
        Another more
        boring-looking exit is labeled
        = succeed "." do
          %a{:href => "http://isp.example.net/"} ISP™
      %p
        To the south lies a dark and dank
        = succeed "." do
          %a{:href => "/about"}
            contacts
            page
        Cobwebs cover its disused entrance, and at one point you
        see a rat run quickly out of the page.
