- @title = "Common Markup"

/ Common HTML Elements
%section#common.element-group
  %h1.section-title Common Elements
  = render :template => "/survivalkit/partials/common/headers.haml"
  = render :template => "/survivalkit/partials/common/characters.haml"
  = render :template => "/survivalkit/partials/common/paragraphs.haml"
  = render :template => "/survivalkit/partials/common/links.haml"
  = render :template => "/survivalkit/partials/common/lists.haml"
  = render :template => "/survivalkit/partials/common/pre.haml"
/ Phrase-level HTML Elements
%section#phrase-elements.element-group
  %h1.section-title Phrase Elements
  = render :template => "/survivalkit/partials/common/em.haml"
  = render :template => "/survivalkit/partials/common/strong.haml"
  = render :template => "/survivalkit/partials/common/cite.haml"
  = render :template => "/survivalkit/partials/common/dfn.haml"
  = render :template => "/survivalkit/partials/common/code.haml"
  = render :template => "/survivalkit/partials/common/samp.haml"
  = render :template => "/survivalkit/partials/common/kbd.haml"
  = render :template => "/survivalkit/partials/common/var.haml"
  = render :template => "/survivalkit/partials/common/abbr.haml"
  = render :template => "/survivalkit/partials/common/acronym.haml"
  = render :template => "/survivalkit/partials/common/q.haml"
  = render :template => "/survivalkit/partials/common/others.haml"
/ Simple markup Patterns
%section#simple-patterns.element-group
  %h1.section-title Common Patterns
  = render :template => "/survivalkit/partials/common/inline-images.haml"
  = render :template => "/survivalkit/partials/common/tables.haml"
  = render :template => "/survivalkit/partials/common/forms.haml"
  
