- @title = "Drupal 7 UI Patterns"
- @headertext = "Based on the default markup from Drupal 7" 

%section#elements
  = render :template => "/survivalkit/partials/patterns-drupal/site-name.haml"
  = render :template => "/survivalkit/partials/patterns-drupal/menu.haml"
  = render :template => "/survivalkit/partials/patterns-drupal/breadcrumbs.haml"
  = render :template => "/survivalkit/partials/patterns-drupal/search.haml"
  = render :template => "/survivalkit/partials/patterns-drupal/messages.haml"
  = render :template => "/survivalkit/partials/patterns-drupal/block.haml"
  = render :template => "/survivalkit/partials/patterns-drupal/tabs.haml"
  = render :template => "/survivalkit/partials/patterns-drupal/form-new-account.haml"
  = render :template => "/survivalkit/partials/patterns-drupal/form-login.haml"
  = render :template => "/survivalkit/partials/patterns-drupal/form-new-password.haml"
  = render :template => "/survivalkit/partials/patterns-drupal/pager.haml"
  = render :template => "/survivalkit/partials/patterns-drupal/rss-link.haml"
  = render :template => "/survivalkit/partials/patterns-drupal/links.haml"
  = render :template => "/survivalkit/partials/patterns-drupal/taxonomy.haml"
  = render :template => "/survivalkit/partials/patterns-drupal/field-image.haml"
  = render :template => "/survivalkit/partials/patterns-drupal/node.haml"
  = render :template => "/survivalkit/partials/patterns-drupal/comments.haml"
  = render :template => "/survivalkit/partials/patterns-drupal/form-comment.haml"
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  
  