= render :template => "/setup/meta.haml"
= render :template => "/setup/icons.haml"
= render :template => "/setup/frameworks.haml"

%head
  %meta{ :charset => "utf-8" }/

  -if @description
    %meta{ :name => "description", :content => "" }/

  -if @author
    %meta{ :name => "author", :content => "" }/

  -if @chromeframe
    %meta{:content => "IE=edge,chrome=1", "http-equiv" => "X-UA-Compatible"}
    /[if lt IE 7 ] <script src="//ajax.googleapis.com/ajax/libs/chrome-frame/1.0.2/CFInstall.min.js"></script><script>window.attachEvent("onload",function(){CFInstall.check({mode:"overlay"})})</script>

  %title= @title

  -if @mobilefriendly
    %meta{ :name => "HandheldFriendly", :content => "True" }/
  -if @viewport
    %meta{ :name => "viewport", :content => "#{@viewport}" }/

  -if @touch_icon_114
    %link{:href => "#{@touch_icon_114}", :rel => "apple-touch-icon-precomposed", :sizes => "114x114"}
  -if @touch_icon_72
    %link{:href => "#{@touch_icon_72}", :rel => "apple-touch-icon-precomposed", :sizes => "72x72"}
  -if @touch_icon_precomposed
    %link{:href => "#{@touch_icon_precomposed}", :rel => "apple-touch-icon-precomposed"}/
  -if @touch_icon
    %link{:href => "#{@touch_icon}", :rel => "shortcut icon"}
  -if @favicon
    %link{:href => "#{@favicon}", :rel => "shortcut icon"}

  -if @apple_mobile_web_app_capable
    %meta{:content => "yes", :name => "apple-mobile-web-app-capable"}
  -if @apple_mobile_web_app_status_bar_style
    %meta{:content => "black-translucent", :name => "apple-mobile-web-app-status-bar-style"}

  -if @cleartype
    %meta{:content => "on", "http-equiv" => "cleartype"}


  / CSS
  -# CSS: implied media="all"
  -if @extracss
    %link{ :href => "/css/#{@extracss}?v=1", :rel => "stylesheet" }
  %link{ :href => "/css/style.css?v=1", :rel => "stylesheet" }
  / %link{ :href => "/css/survivalkit/survivalkit.css?v=1", :rel => "stylesheet" }
  -# = stylesheet_link_tag("/css/style.css")

  -if @modernizr
    %script{ :src => "/js/libs/modernizr-2.0.min.js" }

  -if @selectivizr
    /[if (lt IE 9) & (!IEMobile)]
      <script src="/js/libs/selectivizr-min.js"></script>

